#pages {
    height: 100%;
}
.page {
    position: absolute;
    display: none;
    height: 94%;
    margin-left: 12%;
    width: 85%;
}

.page.active {
    display: block;
}

html, body {
    height: 95%;
}

html {
    /* background-image: url("lib/deliriumTile.png"); */
    background-color:rgb(0, 0, 0);
}


h1 {
  font-family: "Garamond";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 1.2%;
  margin: 0.6%;
    color: rgb(242, 181, 128);
    background-color: black;
}

p {
  font-family: "Garamond";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  padding: 2.2%;
  margin: 2.6%;
  color: rgb(242, 181, 128);
}

#sidebar {
    position: fixed;
    width: 10%;
    height: 90%;
    background-color: black;
    /* background-image: url(lib/darkDeliriumTile.png); */
    z-index: 10;
}

#quicklinkContainer {
    padding: 10%;
    margin-top: 150%;
}

.quicklink {
    padding: 10%;
    text-align: left;
    background-color: rgb(242, 181, 128);
    color: black;
}

#emergency {
    color: red;
}
.request {
    margin: 2%;
    padding: 1%;
}
.requestText {
    font-size: 1.6em;
    text-align: center;
    padding: 0;
}

#demo {
    color: rgb(242, 181, 128);
}

#titleimg {
    width: 70%;
    height: 50%;
}
#titletext {
    color: rgb(92, 156, 202);
    line-height: 1.9;
}

#topContainer {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-top: 1.5%;
    margin-bottom: 0%;
}

#helpPreview {
    background-image: url(lib/helpPreview.png);
}

#previewContainer {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-top: 1.5%;
    margin-bottom: 0%;
    height: 35%;
}

.preview {
    flex: 1;
    padding: 3%;
    background-color: black;
    text-align: center;
    background-size: cover;
}

#userPreview {
    background-image: url("lib/gamePreview.png");
}
#analyticsPreview {
    background-image: url("lib/analyticsPreview.png");
}
#infoPreview {
    background-image: url("lib/mailPreview.png");
}


.currentChart {
    max-width: 30%;
    background-color:rgb(242, 181, 128);
}
.pastChart {
    position: absolute;
    max-height: 40%;
    max-width: 55%;
    left: 40%;
    top: 60%;
    background-color: rgb(242, 181, 128);
}
#daybreak {
    position: absolute;
    top: 76%;
    left: 33%;
}
#dayend {
    position: absolute;
    top: 86%;
    left: 33%;
}
.dark {
   
    background-image: url(lib/darkDeliriumTile.png);
}
#analysisBox {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 50%;
    height: 40%;
}
#analysis {
    color: rgb(242, 181, 128);
}
#reference {
    color: rgb(92, 156, 202);
    position: relative;
    top: 3%;
}
.btn {
    z-index: 10;
    background-color: rgb(23, 19, 43);
    width: 5%;
    box-shadow: 0 4px rgb(0, 0, 0);
}
.btn:hover {
    background-color: rgb(38, 44, 54);
}
.btn:active {
    background-color: rgb(38, 44, 54);
    box-shadow: 0 0px rgb(26, 26, 26);
    transform: translateY(4px);
}
.widget {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px rgb(91, 69, 49);
}

html {
    background-color: rgb(242, 181, 128);
}