#pages {
    height: 100%;
}
.page {
    position: absolute;
    display: none;
    height: 94%;
    margin-left: 12%;
    width: 85%;
}

.page.active {
    display: block;
}

html, body {
    height: 95%;
}

html {
    background-image: url("lib/deliriumTile.png");
}

h1 {
  font-family: "Garamond";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #f29380;
  text-align: center;
  padding: 1.2%;
  margin: 0.6%;
}

#sidebar {
    position: fixed;
    width: 10%;
    height: 100%;
    background-image: url(lib/darkDeliriumTile.png);
    z-index: 10;
}

#quicklinkContainer {
    margin-top: 150%;
    background-color: aqua;
}

.quicklink {
    padding: 3%;
    text-align: left;
}

#slideshow {
    background-color: blue;
    width: 70%;
    height: 55%;
}

#previewContainer {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-top: 1.5%;
    margin-bottom: 0%;
    height: 35%;
}

.preview {
    flex: 1;
    padding: 3%;
    background-color: lightblue;
    text-align: center;
}

#userPreview {
    background-color: grey;
}
#analyticsPreview {
    background-color: purple;
}
#infoPreview {
    background-color: red;
}


.currentChart {
    max-width: 30%;
    background-color:rgb(242, 181, 128);
}
.pastChart {
    position: absolute;
    max-height: 40%;
    max-width: 55%;
    left: 40%;
    top: 60%;
    background-color: rgb(242, 181, 128);
}
#daybreak {
    position: absolute;
    top: 77%;
    left: 33%;
}
#dayend {
    position: absolute;
    top: 82%;
    left: 33%;
}
#analysisBox {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 50%;
    height: 40%;
    background-color: black;
}
#analysis {
    color: white;
}
.btn {
    z-index: 10;
    background-color: rgb(23, 19, 43);
    width: 5%;
    box-shadow: 0 4px rgb(0, 0, 0);
}
.btn:hover {
    background-color: rgb(38, 44, 54);
}
.btn:active {
    background-color: rgb(38, 44, 54);
    box-shadow: 0 0px rgb(26, 26, 26);
    transform: translateY(4px);
}
.widget {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px rgb(91, 69, 49);
}

html {
    background-color: rgb(242, 181, 128);
}